.profile{
    display: flex;
    margin: 20px;
    border: 5px solid darkmagenta;
    
}

.profile-image{
    display: flex;
    width: 250px;
    height: 250px;
}

.nick-name{
    text-align: center;
}

.name{
    color: rgb(12, 223, 23);
}
.blue{
    color: black;
}
.salary{
    color: red;
}

.button{
    height: 40px;
    width: 170px;
    color: rgb(118, 218, 4);
    background-color: rgb(134, 60, 8);
    border: 3px solid rgb(193, 206, 8);
    border-radius: 10px;
}

.profile-info{
    margin-left: 30px;
}

