.page-name{
    color: red;
    height: 70px;
    padding-top: 20px;
    
    background-color: black;
    margin: 0px;
    text-align: center;
}

.nav{
    display: flex;
    padding-left: 50px;
    line-height: 50px;
    background-color: gainsboro;
}

.nav a{
    margin-left: 30px;
    text-decoration: none;
    padding: 0px 5px;
    margin: 5px;
}

.nav a:hover{
    background-color: white;
    color: black;
    border: 1px solid lightcoral;
    border-radius: 5px;
}